h1 {
    color: rgb(0, 0, 0);
  }

p {
    color: rgb(0, 0, 0);
}

body, html {
  height: 100%;
}

bg {
  /* The image used */
  background-image: /Gallery("AarhusØ_2015-01-11.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}